@font-face {
  font-family: AtkinsonMonolegible;
  src: url(AtkinsonMonolegible.ttf);
}

div {
  font-family: AtkinsonMonolegible;
}

.top_area{
  background_color: black;
  font_color: white;
  h1 {text-align: center;}
  h2 {text-align: right;}
}
