@font-face {
  font-family: AtkinsonMonolegible;
  src: url(AtkinsonMonolegible.ttf);
}

div {
  font-family: AtkinsonMonolegible;
}

.top_area{
  background_color: black;
  font_color: white;
}
.top_area h1 {text-align: center;}
.top_area h2 {text-align: right;}

