.head_navbar {
    position: sticky;
    position: -webkit-sticky;
    background-color: black;
    overflow: hidden;
    top:0;
    right:0;
    z-index:1;
  
    margin-right:0px;
  }
  
  .head_navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: x-large;
    transition-duration: 300ms;
  }
  
  .head_navbar a:hover {
    background-color: #ddd;
    color: black;
    transition-duration: 300ms;
  }
  
  .topnav a.active {
    background-color: #4039a0;
    color: white;
  }